 #tenantName{
	outline:none !important;
	box-shadow:none !important;
} 

#create-tan{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#create-tan:hover{
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.display-4{
	color:#0555ab;
}

label{
	font-weight:500;
}
 #parent-div{
 
	background: #edf6ff;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }
.head{color:#0555ab;}
.btn-primary{
	background-color:#0555ab !important;
}

.card{box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;}
.card-header{background:#f6fbff;}
.card-title{color:#0555ab !important;}
.btn-outline-primary
{
	border-color:#0555ab !important;
	color:#0555ab !important;
}
.btn-outline-primary:hover{
	background-color:#0555ab !important;
	color:#fff !important;
}

/*
background: #a5ffba;
    color: #065737;
    font-weight: 500;
*/

